<link rel="stylesheet" href="/css/forgetpass.css"> 
<!-- The basic styling and design for sign_in / sign_up and forgetPassword is same. -->

    <div class="container">
        
        <div class="formContainer">
            
            <form method="post" action="/changePassword" >
                <div class="heading"> <h1>Reset Password</h1></div>
                <br>
                <input type="email" name="email" placeholder="Enter email" required>
                <br>
                <input type="password" name="password" placeholder="Enter password" required>
                <br>
                <input type="password" name="confirmPassword" placeholder="Confirm password" required>
                <br>
                <br>
                <div class= 'buttons'>
                <button type="submit">Change Password</button>
                </div>
            </form>
        </div>
            
     </div>
    

